<% layout("/layouts/boilerplate") %>

  <h1>All Listings</h1>
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <% for (let listing of allListing) { %>
  <div class="card" style="width: 30rem;">
    <img src="<%= listing.image %>" 
         class="card-img-top" 
         alt="listing_image">
    <div class="card-body">
      <h5 class="card-title"><%= listing.title %></h5>
      <p class="card-text"><%= listing.price.toLocaleString("en-IN") %> / night</p>
    </div>
  </div>
<% } %>

  </div>



  


