<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create a new Listing</h3>
    <form action="/listings" method="post">
        <input type="text" name="listing[title]" placeholder="Enter the title">
        <br> <br>
        <textarea type="text" name="listing[description]" placeholder="Enter the description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image url/Link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter the price">
        <br><br>
        <input type="location" name="listing[country]" placeholder="Enter the country">
        <br><br>
          <input type="location" name="listing[location]" placeholder="Enter the location">
        <br><br>
        <button>Add</button>
    </form>
</body>
